@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@300;400&family=Roboto:wght@700&family=Space+Mono&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* font-family: 'Poppins',sans-serif; */
/* font-family: 'Playfair Display',serif; */

/* layout CSS */
/* 
.layout{
  background-image: url('./assets/pnf_bg.jpg');
  background-size: cover;
} 
*/

/* NavBar CSS */
.navbar{
  font-family: 'Poppins', sans-serif; 
  font-size: 17px;
  line-height: 26px;
  text-transform: uppercase;
  box-shadow: 0 8px 6px -6px grey;
  --webkit-box-shadow: 0 8px 6px -6px gray;
  border-bottom: solid grey !important;
}
.nav-link{
  font-weight: 300 !important;
}
.active{
  border-bottom: 2px solid orange;
}
.navbar-brand{
  font-family: 'roboto',sans-serif;
  letter-spacing: 2px;
  font-weight: 700;
}
/* Footer css */
.footer a{
  text-decoration: none;
  padding: 20px;
  color: #fff;
}
.footer a:hover{
color: orange;
border-bottom: 1px solid orange;
}

/* Page Not Found CSS */
.pnf-container{
  display: flex;
  min-height: 60vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.pnf-title{
  font-size: 100px;
  font-weight: 700;
}
.pnf-heading{
font-weight: normal;
}
.pnf-btn{
  text-decoration: none;
  color: black;
  border: 2px solid black;
  padding: 10px 30px;
  margin: 10px;
}
.pnf-btn:hover{
color: orangered;
  border: 2px solid orange;
}

/* About Us Page */
section{
  padding: 60px 0;
  overflow: hidden;
}
.section-title{
  text-align: center;
  padding-bottom: 30px;
}
.team{
  margin-bottom: 50px;
}
.team .member{
position: relative;
padding: 30px;
box-shadow: 0px 2px 15px rgba(0, 0, 0, 1);
border-radius: 5px;
background: #fff;
}
.team .member .teampic{
  width: 180px;
  border-radius: 60px;
  overflow: hidden;
}
.team .member .member-info{
  padding-left: 30px;
}
.team .member h4{
  font-weight: 700;
  margin-bottom: 5px;
  font-size:20px;
  color:tomato;
}
.team .member span{
  display: block;
  font-size: 15px;
  padding-bottom: 10px;
  position:relative;
  font-weight: 500;
}
.team .member p{
margin:10px 0 0 0;
font-size: 14px;
}

.team .member .social{
  margin-top:12px;
  display:flex;
  align-items: center;
  justify-content: flex-start;
}
.team .member .social a{
  display:flex;
  align-items: center;
  justify-content:center;
  width: 32px;
  height:32px;
  background: #fff;
  color: tomato;
  font-size: 16px;
  margin: 0 2px;
}
.team .member .social a i{
  color:tomato;
  font-size: 16px;
}
.team .member .social a:hover{
  background: tomato;
  color: white;
}
.underline{
  width: 350px;
  height: 2px;
  background-color: black;
  margin: auto;
  margin-top: -30px;
}
.section-title h2{
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  padding: 20px;
  color: tomato;
  position: relative;
}
.section-title p{
  margin-top: 20px;
}